*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #2B2C2C;
    font-family: 'Roboto', sans-serif;
}

main{
    display: flex;
}

main nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

main nav div{
    width: 15%;
    padding: 10px;

}

main nav div.brand{         /* == Contenedor del logo == */
    width: 160px;
    border: 1px solid gray;
}

main nav div.btn-email{
    width: 65px;
    background-color: #F4C90C;
}

main nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 20px 0;
    width: 35%;
}

main nav ul li{
    margin: 0 10px ;
}

main nav ul li a{
    text-decoration: none;
    padding: 18px 0;
    color: #F4C90C;
    font-weight: bold;
}

main nav ul li a:hover{
    border-bottom: 3px solid #F4C90C;
}

