*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #2B2C2C;
    font-family: 'Roboto', sans-serif;
    font-weight: 400 !important;
}


nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    background-color: #272727;
}

nav div{
    width: 15%;
    padding: 10px;

}

nav div.brand{         /* == Contenedor del logo == */
    width: 160px;
    border: 1px solid gray;
}

nav div.btn-email{
    width: 65px;
    background-color: #F4C90C;
}

nav div.btn-email a{
    text-decoration: none;
    color: black;
    background-color: wheat;
}

nav div.btn-email a span{
    text-align: center;
    display: block;
    font-size: 25px;
    padding: 9px;
}

nav ul{
    display: flex;
    /* flex-wrap: wrap; */
    list-style: none;
    padding: 20px 0;
    width: 40%;
    justify-content: space-around;
}

nav ul li a{
    text-decoration: none;
    padding: 18px 0;
    color: #F4C90C;
    font-size: 13px;
}

nav ul li a:hover{
    border-bottom: 3px solid #F4C90C;
}

/* banner */

div.banner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 70px 0;
}

div.banner div.redes{
    width: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.banner div.redes a{
    margin: auto;
    font-size: 25px;
    text-decoration: none;
    padding: 82.99px 20.8px 82.99px 20.8px;
}

div.banner div.redes a:hover{
    background-color: #F4C90C;
}

div.banner div.presentacion{
    width: 95%;
    background-color: white;
}

div.banner div.presentacion div{
    width: 49%;
    padding: 120px 100px 100px 120px;
    background-color: #2b2c2c73;
}

div.banner div.presentacion div h2{
    font-size: 30px;
    margin-bottom: 5px;
}

h2.nombre, div.banner div.presentacion div p{
    color: white;
    font-size: 13px;
}

h2.profesion{
    color: #F4C90C;
}

div.banner div.presentacion div button{
    width: 170px;
    font-size: 13px;
    height: 45px;
    background-color: #F4C90C;
    border: none;
    cursor: pointer;
    display: block;
    margin: 15px 0; 
}

section.one{
    display: flex;
    flex-wrap: wrap;
    /* width: 1300px; */
    width: 100%;
    margin: 30px auto;

}

section.one .left-col{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    /* background-color: #F4C90C; */
    padding: 50px 80px;
    color: #CCCCCC;
}

div#up-menu{
    width: 50px;
    height: 50px;
    background-color: gray;
    border-radius: 25px;
    position: fixed;
    right:30px;
    bottom: 10px;
}

div#up-menu a{
    font-size: 20px;
    display: block;
    width: 20px;
    padding: 11px 0;
    margin: 0 auto;
    color: #F4C90C
}

section.one .left-col h2{
    font-size: 35px;
}

section.one .left-col h2 .thin-letter{
    font-weight: 100;
}

.left-col .servicios{
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
}

.left-col .servicios p{
    font-weight: 200;
}

.servicios div{
    display: flex;
    flex-wrap: wrap;
    margin: 0 50px 15px 0 ;
}

.servicios div span{
    margin-right: 10px;
    font-size: 30px;
}

.left-col button{
    width: 170px;
    height: 65px;
    border: none;
    background-color: #F4C90C;
    color: white;
}

div.right-col{
    position: relative;
    padding: 50px 200px;
    width: 50%;
}

div.right-col .fondo-color{
    width: 300px;
    height: 300px;
    background-color: #F4C90C;
    position: absolute; top: 100px; left: 150px;
}

div.right-col .container-img-one{
    width: 300px;
    height: 300px;
    background-color: aqua;
    position: absolute;
    z-index: 1;
}

section.two, section.three{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 100px auto;
    justify-content: center;
    /* background-color: #F4C90C; */
}

.container-title{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 60px;
}

.container-title h2{
    /* background-color: red; */
    width: 100%;
    text-align: center;
    color: white;
    font-size: 30px;
    letter-spacing: 2px;
}

.container-line{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

.container-nav{
    position: fixed; top: 0;
    width: 100%;
    z-index: 4;
}

.line-l,.line-l-i{
    height: 3px;
    background-color: #F4C90C;
    width: 10%;
    margin: 20px auto;
}

.line-l-i,.line-c-i{
    margin: 0 !important;
    margin-right: 400px;
}

.line-c, .line-c-i{
    height: 3px;
    background-color: #F4C90C;
    width: 6%;
    margin: 0 auto;
}

section.two p,section.two .container-items,section.three p{
    color: #CCCCCC;
}

.container-items{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 25px 0;
    
}

div.container-items > div{
    width: 300px;
    border: 1px solid gray;
    padding: 50px;
    margin: 25px 30px;
}

div.container-items > div > div > span{
    font-size: 30px;
} 

.center{
    margin: auto;
    width: 150px;
    text-align: center;
}

.grow{
    flex-grow: 1;
}

section.three form{
    margin: 100px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section.three form > div{
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    flex-grow: 1;
    margin: 0 20px;
    color: #CCCCCC;
}


section.three form > div > label{
    margin-bottom: 15px;
}

section.three form div input, section.three form > div > textarea{
    width: 100%;
    height: 40px;
    background-color: #2B2C2C;
    border: 1px solid #CCCCCC;
    margin-bottom: 15px;
    color: #CCCCCC;
    padding: 0 5px;
}

.textarea{
    flex-basis: 100%;
}

.textarea textarea{
    height: 200px !important;
}

.inp-submit:hover{
    background-color: #cccccc5e;
    color: #F4C90C;
    cursor: pointer;
    border: none;
}

.inp-submit{
    border: none !important;
    transition-property: background,color;
    transition-duration: .3s;
    transition-timing-function: linear;
    transition-delay: .1s;
}

.hamburguerMenu{
    display: none;
}

@media screen and (max-width:767px){
    .hamburguerMenu{
        display: flex;
        border: 1px solid gray;
        width: 30%;

    }
    main nav div.btn-email{
        width: 20%;
    }

    main nav div.brand{
        width: 50%;
    }

    .hamburguerMenu a{
        text-decoration: none;
        color: #CCCCCC;
        font-size: 30px;
        margin: auto;
    }

    main nav{
        justify-content: inherit;
    }

    main nav ul{
        display: none;
        width: 100%;
        order: 2;
        padding: 0 20px;
    }

    main nav ul li{
        padding: 10px 0;
    }

    main nav ul li a{
        font-size: 20px;
    }

    div.banner{
        margin: 0 auto;
    }
    
    div.banner div.presentacion{
        width: 100%;
    }

    div.banner div.presentacion div{
        width: 100%;
        padding: 120px 19px;
    }

    div.banner div.presentacion div *{
        text-align: center;
    }

    div.banner div.presentacion div button{
        /* justify-content: center; */
        margin: 15px auto;
    }

    div.banner div.redes{
        display: none;
    }

    section.one{
        width: 100%;
    }

    section.one div.left-col{
        width: 100%;
        padding: 15px;
    }
    section.one div.right-col{
        display: none;
    }

    .servicios div{
        width: 90%;
        margin: 10px auto;
        flex-direction: column;
        text-align: center;
    }

    div.line-l-i{
        width: 80%;
        margin-bottom: 10px !important;
        margin-top: 5px !important;
    }

    .line-c-i{
        width: 50%;
    }

    .left-col button{
        width: 100%;
    }

    section.two,section.three{
        margin: 25px auto;
    }

    section.three form{
        margin: 50px 0;
    }

    section.three form div{
        width: 100%;
    }

    .servicios{
        width: 100%;
    }
}

@media screen and (max-width:1300px){

    div.banner div.redes{
        display: none;
    }

    div.banner div.presentacion{
        margin: 0 auto;
    }
}